extends partial/layout_base

block container_base
    main.container
        .wrap
            .post
                article.post-block
                    h1.post-title
                        != page.title
        .wrap.wrap-stretch
            div.fotorama(data-nav="thumbs", data-maxheight="80%", data-maxwidth="95%", data-allowfullscreen="native", data-hash="true", data-keyboard="true", data-arrows="true",
            data-click="true", data-trackpad="true", data-swipe="true")
                if page.videos
                    each video in page.videos
                        a(href=asset_url(page, video), data-caption=video.title)
                if page.images
                    each image in page.images
                        img(src=asset_url(page, image), data-caption=image.title)

block copyright
    include partial/copyright