.copyright
    - var hexoURL = "https://hexo.io/";
    - var apolloURL = "https://github.com/pinggod/hexo-theme-apollo";
    - var aboutURL = url_for_lang("/about/");
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    p © #{year} #[a(href=config.url)!= config.author], powered by #[a(href=hexoURL, target="_blank") Hexo], #[a(href=apolloURL, target="_blank") hexo-theme-apollo] and #[a(href=aboutURL, target="_blank") other].